<div class="container">
    <div mat-dialog-title [innerHtml]="__title"></div>
    <mat-dialog-content class="pt-20">
        <app-select [id]="__roleSelect.id" [element]="__roleSelect.element" [item-list]="__roleSelect.itemList" [label]="__roleSelect.label" [value]="__roleSelect.value"  [bindValue]="__roleSelect.bindValue"
        [bindLabel]="__roleSelect.bindLabel"  [multiple]="__roleSelect.multiple" (valueChanged)="valueChanged($event)"></app-select>
    </mat-dialog-content>
    <mat-dialog-actions fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10">
        <app-button [id]="__okButton.id" [element]="__okButton.element" [type]="__okButton.type"
            [label]="__okButton.label" [color]="__okButton.color" (onClick)="buttonOnClick($event)"></app-button>
        <app-button [id]="__cancelButton.id" [element]="__cancelButton.element" [type]="__cancelButton.type"
            [label]="__cancelButton.label" [color]="__cancelButton.color"
            (onClick)="buttonOnClick($event)"></app-button>
    </mat-dialog-actions>
</div>