<mat-drawer-container>
    <mat-drawer #drawer mode="side" disableClose="true" opened="open" [ngClass]="{'expand': __toggleDrawer === true}">
        <mat-list-item type="button" mat-button (click)="toggleDrawer()">
            <div class="side-bar-list">
                <mat-icon>home</mat-icon>
                <div *ngIf="__toggleDrawer === true">
                    AW
                </div>
            </div>
        </mat-list-item>
        @for (item of sidebarItems; track item) {
        <mat-nav-list *ngIf="__permissionService.getPermission(item?.permissionsArray)">
            <mat-list-item (click)="triggerRouteNavigation(item?.route)"
                [ngClass]="{'bg-color-selected': __currentUrl === item.route}">
                <div class="side-bar-list" (click)="toggleNavList(item)">
                    <mat-icon>{{ item.icon }}</mat-icon>
                    <div class="w-5">
                        {{ item.label }}
                    </div>
                    <mat-icon *ngIf="item?.childItems?.length > 0">
                        expand_more
                    </mat-icon>
                </div>
            </mat-list-item>
            <mat-nav-list
                *ngIf="item?.expand === true && __permissionService.getPermission(item?.permissionsArray) && item?.childItems?.length > 0">
                @for (citem of item?.childItems; track citem) {
                <mat-list-item (click)="triggerRouteNavigation(citem?.route)"
                    [ngClass]="{'bg-color-selected': __currentUrl === citem.route}">
                    <div class="side-bar-list ml-5">
                        <mat-icon>{{ citem.icon }}</mat-icon>
                        <div>
                            {{ citem.label }}
                        </div>
                    </div>
                </mat-list-item>
                }
            </mat-nav-list>
        </mat-nav-list>
        }
    </mat-drawer>
</mat-drawer-container>