<div fxLayout="column" class="p-1em">
    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px">
        <div>
            <h1>{{__title}}</h1>
        </div>
        <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px">
            <app-button [id]="__addButton.id"  [element]="__addButton.element" [type]="__addButton.type" [icon]="__addButton.icon"
            [color]="__addButton.color" (onClick)="buttonOnClick($event)"></app-button>
            <app-select [id]="__roleSelect.id" [element]="__roleSelect.element" [item-list]="__roleSelect.itemList"
                [label]="__roleSelect.label" [value]="__roleSelect.value" [bindValue]="__roleSelect.bindValue"
                [bindLabel]="__roleSelect.bindLabel" (valueChanged)="valueChanged($event)"></app-select>
            <app-input [id]="__searchInput.id" [element]="__searchInput.element" [type]="__searchInput.type"
                [label]="__searchInput.label" [value]="__searchInput.value" [required]="__searchInput.required"
                (valueChanged)="valueChanged($event)"></app-input>
        </div>
    </div>
    <div>
        <app-table [id]="__table.id" [element]="__table.element" [displayedColumns]="__table.displayedColumns"
            [columnData]="__table.columnData" [dataSource]="__table.dataSource" [dataSourceLength]="__table.length"
            [pageSizeOptions]="__table.pageSizeOptions" [dataSourceIndex]="__table.pageIndex"
            [dataSourcePageSize]="__table.pageSize" (pageChange)="triggerPageChange($event)"  (buttonClickTableEvent)="tableButtonEvent($event)"></app-table>
    </div>
</div>