app-login {

    .mat-form-field {
        width: 100%;
        min-width: 300px;
    }

    .login-card {
        max-width: 30em;
        width: 100%;
        padding: 1em;
    }

    mat-card-title.mat-mdc-card-title{
        margin-bottom: 1em;
    }
}