<div>
    <div mat-dialog-title [innerHtml]="__title"></div>
    <mat-dialog-content class="pt-20">
        <app-select [id]="__handlerSelect.id" [element]="__handlerSelect.element" [item-list]="__handlerSelect.itemList" [label]="__handlerSelect.label" [value]="__handlerSelect.value" (valueChanged)="valueChanged($event)"></app-select>
    </mat-dialog-content>
    <mat-dialog-actions fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10">
        <app-button [id]="__okButton.id" [element]="__okButton.element" [type]="__okButton.type"
            [label]="__okButton.label" [color]="__okButton.color" (onClick)="buttonOnClick($event)"></app-button>
        <app-button [id]="__cancelButton.id" [element]="__cancelButton.element" [type]="__cancelButton.type"
            [label]="__cancelButton.label" [color]="__cancelButton.color"
            (onClick)="buttonOnClick($event)"></app-button>
    </mat-dialog-actions>
</div>