#wrapper {
    display: flex;
  }

  #wrapper #content-wrapper {
    background-color: #f8f9fc;
    width: 100%;
    overflow-x: hidden;
  }
  #wrapper #content-wrapper #content {
    flex: 1 0 auto;
  }
  .display-flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.access-denied-text {
    width: 20.3rem;
    font-size: 3rem;
}
.link{
  color: #4e73df !important;
  cursor: pointer;
}
.error {
    color: #5a5c69;
    position: relative;
    line-height: 1;
}
.maintenance-text{
  font-size: 3rem;
  width: 15rem;
}

.error-text{
  width: 4.5rem;
  font-size: 3rem;
}
.mat-cell{
  word-break: break-word;
}
 
@-webkit-keyframes noise-anim-2 {
    0% {
      clip: rect(16px, 9999px, 10px, 0);
    }
    5% {
      clip: rect(22px, 9999px, 29px, 0);
    }
    10% {
      clip: rect(6px, 9999px, 68px, 0);
    }
    15% {
      clip: rect(85px, 9999px, 95px, 0);
    }
    20% {
      clip: rect(65px, 9999px, 91px, 0);
    }
    25% {
      clip: rect(93px, 9999px, 68px, 0);
    }
    30% {
      clip: rect(10px, 9999px, 27px, 0);
    }
    35% {
      clip: rect(37px, 9999px, 25px, 0);
    }
    40% {
      clip: rect(12px, 9999px, 23px, 0);
    }
    45% {
      clip: rect(40px, 9999px, 18px, 0);
    }
    50% {
      clip: rect(19px, 9999px, 71px, 0);
    }
    55% {
      clip: rect(2px, 9999px, 35px, 0);
    }
    60% {
      clip: rect(16px, 9999px, 69px, 0);
    }
    65% {
      clip: rect(8px, 9999px, 65px, 0);
    }
    70% {
      clip: rect(30px, 9999px, 57px, 0);
    }
    75% {
      clip: rect(14px, 9999px, 4px, 0);
    }
    80% {
      clip: rect(39px, 9999px, 30px, 0);
    }
    85% {
      clip: rect(22px, 9999px, 35px, 0);
    }
    90% {
      clip: rect(58px, 9999px, 71px, 0);
    }
    95% {
      clip: rect(34px, 9999px, 90px, 0);
    }
    100% {
      clip: rect(67px, 9999px, 68px, 0);
    }
  }
  
  @keyframes noise-anim-2 {
    0% {
      clip: rect(16px, 9999px, 10px, 0);
    }
    5% {
      clip: rect(22px, 9999px, 29px, 0);
    }
    10% {
      clip: rect(6px, 9999px, 68px, 0);
    }
    15% {
      clip: rect(85px, 9999px, 95px, 0);
    }
    20% {
      clip: rect(65px, 9999px, 91px, 0);
    }
    25% {
      clip: rect(93px, 9999px, 68px, 0);
    }
    30% {
      clip: rect(10px, 9999px, 27px, 0);
    }
    35% {
      clip: rect(37px, 9999px, 25px, 0);
    }
    40% {
      clip: rect(12px, 9999px, 23px, 0);
    }
    45% {
      clip: rect(40px, 9999px, 18px, 0);
    }
    50% {
      clip: rect(19px, 9999px, 71px, 0);
    }
    55% {
      clip: rect(2px, 9999px, 35px, 0);
    }
    60% {
      clip: rect(16px, 9999px, 69px, 0);
    }
    65% {
      clip: rect(8px, 9999px, 65px, 0);
    }
    70% {
      clip: rect(30px, 9999px, 57px, 0);
    }
    75% {
      clip: rect(14px, 9999px, 4px, 0);
    }
    80% {
      clip: rect(39px, 9999px, 30px, 0);
    }
    85% {
      clip: rect(22px, 9999px, 35px, 0);
    }
    90% {
      clip: rect(58px, 9999px, 71px, 0);
    }
    95% {
      clip: rect(34px, 9999px, 90px, 0);
    }
    100% {
      clip: rect(67px, 9999px, 68px, 0);
    }
  }
.error:before {
    content: attr(data-text);
    position: absolute;
    left: -2px;
    text-shadow: 1px 0 #4e73df;
    top: 0;
    color: #5a5c69;
    background: #f8f9fc;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-anim-2 3s infinite linear alternate-reverse;
  }

.error:after {
    content: attr(data-text);
    position: absolute;
    left: 2px;
    text-shadow: -1px 0 #e74a3b;
    top: 0;
    color: #5a5c69;
    background: #f8f9fc;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-anim 2s infinite linear alternate-reverse;
  }

  @media screen and (max-width: 600px) {
    .mat-cell,
    .mat-header-cell {
      justify-content: flex-start !important;
    }
    mat-row, mat-header-row, mat-footer-row{
      flex-direction: column;
      align-items: flex-start !important;
    }
    .mat-header-cell {
      font-weight: bold;
    }
  
    .mat-cell::before {
      content: attr(data-label);
      display: inline-block;
      font-weight: bold;
      width: 6em; /* Adjust label width as needed */
      margin-right: 0.5em;
    }
    mat-cell:first-of-type, mat-header-cell:first-of-type, mat-footer-cell:first-of-type{
      padding-left: 0 !important;
    }
    mat-header-row.mat-header-row.cdk-header-row.ng-star-inserted {
      display: none;
  }
  }