<div *ngFor="let comment of allComments">
    <mat-card class="my-3">
        <mat-card-content>
            <div class="dispFlex">
                <p class="nameText">
                    {{ comment.name }}
                </p>
                <p class="comDate">
                    {{ comment.created_at }}
                </p>
            </div>
           
            <p class="name">
                {{ comment.comment }}
            </p>

        </mat-card-content>
    </mat-card>
</div>
<div class="pt-2">
    <button mat-raised-button color="primary" (click)="loadMore.emit()">View more comments</button>
</div>